.register-r{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 3rem;
    
}

.logo2{
    height: 3rem;
    width: 15rem;
    cursor: pointer;
}
.top{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50rem;
    padding: 1rem;
}
.sinput{
    border-radius: 1rem;
    width: 30%;
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 1rem;
    box-shadow: 0 0 1rem #fa0707 ;
}
.back{
    color: black;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    width: 8rem;
    height: 3rem;
    cursor: pointer;
}
.conti{
    color: white;
    background-color: #287377;
    padding: 1rem;
    border-radius: 10px;
    width: 8rem;
    height: 3rem;  
}